<div class="navbarre">

    <nav class="navmembre">
        <a href="{{ path('home') }}">Acceuil</a>
        <a class="myrokonav" href="{{ path('myroko') }}">MYROKO</a>
        <a class="fyroxnav" href="{{ path('fyrox') }}">FYROX</a>
        <a class="cazertoxnav" href="{{ path('cazertox') }}">CAZERTOX</a>
        <a class="leetronav" href="{{ path('leetro') }}">LEETRO</a>
    </nav>
</div>

